html{
  max-width: 1600px;
  margin: 0 auto;
}
body {
  margin: 0 auto;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome and Safire*/
body::-webkit-scrollbar {
  display: none;
}

section{
  margin: 0px 50px 0px 50px; 
}

@keyframes blink {
  100%{
    color: red; /* Initial color */
  }
}

a {
  color: inherit;
  text-decoration: none;
}

/*for all section headings*/
h2{
  margin-bottom: 10px;
  /*Typography*/
  color: #1072BA;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* Basic styling for logo */
.logo {
  margin-left: 50px;
  color: #1072ba;
  font-size: 36px;
  font-weight: bold;
}

/* Header styles */
#nav-bar {
  display: flex;
  justify-content: space-between; /* This will push the logo to the left and nav-content to the right */
  align-items: center;
  width: 100%;
  height: 45px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 10px 0px 10px 0px; /* Add padding for better spacing on smaller screens */
  
}

/* Styles for nav-content */
#nav-content {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

/* Styles for nav-contact */
#nav-contact {
  display: flex;
  align-items: center;
  color: #000;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: 600;
}

/* Button styles */
.enquire-button {
  background-color: #f00;;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  display: inline-block;
  margin-right: 20px; /* Adjust the margin as needed */
  /*Typography */
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 900;
  padding: 0 18px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.enquire-button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

#home{
  margin: 0px;
}

.home-container{
  position: relative;
}
#hero-image{
  width: 100%;
  height: 100%;
  padding-top: 5px;
  position:relative
}
#bisleri-image{
  height: 60%;
  width: 40%;
  bottom: 2%;
  left: 56%;
  position: absolute;
}

#text-currently-serving{
  margin: 0px;
  color: #000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size:39px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  animation: blink 250ms infinite; /* 2s duration, infinite loop */
}

#tag-line{
  position: absolute;
    top: 0%;
    right: 3%;
    /*Typography*/
    color: #494949;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Nunito Sans;
    font-size: 2.5vw;
    font-style: italic;
    font-weight: 800;
    line-height: normal;
}

#order-on-call-button{
  position: absolute;
  top: 26%;
  left: 59.5%;
  box-sizing: border-box;
  width: 12vw;
  height: 3.6vw;;
  flex-shrink: 0;
  border-radius: 42.5px;
  border: 2px solid #000;
  background: rgba(0, 137, 22, 0.00);
  /*Typography*/
  color: #000;
  font-family: Roboto;
  font-size: 1vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#order-on-whatsapp-button{
  position: absolute;
  top: 26%;
  left: 76.5%;
  box-sizing: border-box;
  width: 12vw;
  height: 3.6vw;
  flex-shrink: 0;
  border-radius: 42.5px;
  border: none;
  background: #008916;
  /*Typography*/
  color: #FFF;
  font-family: Roboto;
  font-size: 1vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/*Our Services styling starts from here*/
.our_services{
  margin: 0px;
  display: flex;
  justify-content: space-between;
}
.lists{
  margin: 0px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/*About Us styling starts from here*/
.About-us{
  display: flex;
}
#About-us-text{
  font-size: 24px;
  line-height: 48px;
  text-align: justify;
  padding-left: 24px;
  margin: 0px;
}
#about-us-img{
  width: 393px;
  height: auto;
  object-fit: cover;
  border-radius: 25px;

}

/* Media query for screens smaller than *800px */
@media screen and (max-width: 800px) {
  section{
  margin: 0px 10px 0px 10px; 
}
  #home{
    margin: 0px;
  }

  .logo {
    margin-left: 10px;
    font-size: 24px; /* Adjust font size for smaller screens */
  }

  #nav-bar {
    padding: 5px 0px 5px 5px; /* Adjust padding for better spacing on smaller screens */
    height: auto;
  }
  #nav-content {
    margin-right: 30px;
  }

  #nav-contact {
    display: none;
  }

  .enquire-button {
    line-height: 40px;
    margin-right: 0px;
  }

  #hero-image{
    display: none;
  }

  #bisleri-image{
    height: 164px;
    width: 268px;
    top: 54%;
    left: auto;
  }
  .home-container{
    position: relative;
    width:100%;
    height: 355px;
    display: flex;
    justify-content: center;
    background-color: rgb(249 248 244);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
  }
  #text-currently-serving{
    margin-top: 10px;
    font-size: 4vw;
  }
  
  #order-on-whatsapp-button{
    top: 39%;
    left: 54%;
    height: 35.476px;
    width:25vw;
    font-size: 2vw;
  }
  #order-on-call-button{
    top: 39%;
    left: 15%;
    height: 35.476px;
    width:25vw;
    font-size: 2vw;
  }
  #tag-line{
    position: absolute;
    top: 13%;
    right: auto;
    font-size: 20px;
  }
  h2{
    font-size:24px;
  }
  .our_services{
    display:block;
  }
  .lists{
    padding-left: 4vw;
    font-size: 3vw;
    height: 18vw;
    justify-content: space-around;
  }
  .About-us{
    display: flex;
    flex-direction: column;
  }
  #About-us-text{
    padding: 5px 25px 5px 5px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: justified;
  }

  #about-us-img{
    width: 100%;
    height: auto;
    border-radius: 25px;
  }
}
/* Apply cursor: pointer on devices that support hover interactions */
@media (hover: hover){
  .enquire-button,#order-on-whatsapp-button,#order-on-call-button{
    cursor: pointer;
  }
}
@media screen and (min-width: 1600px){
  #order-on-whatsapp-button{
    font-size: 16px;
    height: 57.6px;
    width: 192px;
  }
  #order-on-call-button{
    font-size: 16px;
    height: 57.6px;
    width: 192px;
  }
  #tag-line{
    font-size: 40px;
  }
}